$accentColor: #38a8ff;
$backgroundPrimaryColor: #303030;
$textPrimaryColor: #FFFFFF;
$textSecondaryColor: #303030;
$textFontFamily: Tahoma;
$textIntroductionNameSize: 115px;
$textIntroductionTitleSize: 45px;
$textHeaderHomeLinkSize: 32px;

body {
    margin: 0px;
}

a:link {
    color: inherit;
}

a:visited {
    color: inherit;
}

a:hover {
    color: inherit;
}