@use '../../css/mainVars.scss' as main;
@use '1920px/Header.scss' as b1920;
@use '1024px/Header.scss' as b1024;
@use '640px/Header.scss' as b640;
@use '0-640px/Header.scss' as b0;

.Header {
    position: relative;
    z-index: 1;
    background-color: main.$accentColor;
    width: 100%;
    font-family: main.$textFontFamily;
    box-shadow: main.$boxShadow;
}

        .Header-introduction {
            width: 100%;
            color: main.$textSecondaryColor;
            display: flex;
            width: max-content;
        }
