@use '../../css/mainVars.scss' as main;
@use '1920px/HeaderHome.scss' as b1920;
@use '1024px/HeaderHome.scss' as b1024;
@use '640px/HeaderHome.scss' as b640;
@use '0-640px/HeaderHome.scss' as b0;

.HeaderHome {
    background-color: main.$accentColor;
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
    font-family: main.$textFontFamily;
    box-shadow: main.$boxShadow;
}

    .HeaderHome-introduction {
        color: main.$textSecondaryColor;
        display: flex;
        height: 100%;
        flex-direction: column;
        justify-content: center;
    }
        
        .HeaderHome-introduction-name {
            width: max-content;
            border-style: solid;
            border-width: 0px;
            border-bottom-width: 2px;
            border-color: main.$textSecondaryColor;
        }

    .HeaderHome-linkArea {
        display: flex;
        flex-direction: column;
        align-self: center;
        height: 100%;
        justify-content: space-evenly;
    }

        .HeaderHome-linkArea-link {
            color: main.$textPrimaryColor;
        }

            .HeaderHome-linkArea-link a {
                text-decoration: none;
                display: flex;
            }

            .HeaderHome-linkArea-link a:hover {
                text-decoration: underline;
            }
                .HeaderHome-linkArea-link-logo {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }

