@use '../../css/mainVars.scss' as main;
@use '1920px/ProjectListContent.scss' as b1920;
@use '1024px/ProjectListContent.scss' as b1024;
@use '640px/ProjectListContent.scss' as b640;
@use '0-640px/ProjectListContent.scss' as b0;

.ProjectListContent {
    position: absolute;
    left :50%;
    transform: translateX(-50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    color: main.$textPrimaryColor;
}

    .ProjectListContent-title {
        color: main.$textPrimaryColor;
    }

    .ProjectListSection {
        display: flex;
        width: 100%;
        text-decoration: none;
    }

        .ProjectListSection-link {
            text-decoration: none;
            width: fit-content;
            cursor: pointer;
        }

        .ProjectListSection-row {
            display: flex;
            width: fit-content;
        }
    
            .ProjectListSection-projectPic {
                border-style: solid;
                color: #202020;
                box-shadow: main.$boxShadow;
            }
        