
@use '../../css/mainVars.scss' as main;
@use '1920px/Sidebar.scss' as b1920;
@use '1024px/Sidebar.scss' as b1024;
@use '640px/Sidebar.scss' as b640;
@use '0-640px/Sidebar.scss' as b0;

.Sidebar {
    position: relative;
    z-index: 1;
    font-family: main.$textFontFamily;
    color: main.$textSecondaryColor;
    height: max-content;
    width: max-content;
    color: main.$textPrimaryColor;
    box-shadow: main.$boxShadow #202020;
}

.Sidebar:hover .Sidebar-links{
    width: max-content;
}

    .Sidebar-links {
        display: flex;
        flex-direction: column;
        width: 0px;
        overflow: hidden;
        background: main.$backgroundPrimaryColor;
        
    }

    .Sidebar a {
        width: max-content;
        text-decoration: none;
    }
