@use '../../../css/mainVars.scss' as main;

@media(min-width: main.$breakMediumMin) and (max-width: main.$breakLargeMin - 1) {
    .HeaderHome {
        height: 200px;
    }

            .HeaderHome-profilePic {
                width: 150px;
                height: 150px;
                margin: 25px 0px;
                margin-left: 50px;
            }

                .HeaderHome-introduction-name {
                    font-size: 58px;
                }

                .HeaderHome-introduction-title {
                    margin-left: 10px
                }

            .HeaderHome-linkArea {
                margin-right: 25px;
            }
    
                .HeaderHome-linkArea-link {
                    font-size: 16px;
                }
    
                    .HeaderHome-linkArea-link-logo {
                        height: 20px;
                        width: 28px;
                    }
    
                    .HeaderHome-linkArea-link-logo img {
                        height: 20px;
                        max-width: 28px;
                    }
    
                    .HeaderHome-linkArea-link-text {
                        margin-left:10px;
                    }
}