@use '../../../css/mainVars' as main;

@media(min-width: main.$breakMediumMin) and (max-width: main.$breakLargeMin - 1) {
    .ProjectPageContent {
        top: 88px;
        width: 1024px;
    }

        .ProjectPageContent-Title {
            margin: 25px 0px 0px 0px;
            font-size: 55px;
        }

            .ProjectPageContent-Section {
                margin-top: 15px;
            }

                .ProjectPageContent-Section-title {
                    margin: 10px 0px;
                    font-size: 25px;
                }
  
                .ProjectPageContent-Section-paragraph {
                    margin: 20px;
                    font-size: 15px;
                }          

                .ProjectPageContent-Section-picturelist {
                    margin: 10px 0px;
                }
}